@import url(../css/clash-display.css);

/* ================= o0o ====================
.................. variables ................
==================== o0o ================= */
:root {
  --c-dark: #212529;
  --c-brand: #445cbf;
  --c-brand-light: #6970dd;
  --c-brand-rgb: 78, 87, 212;
  --c-body: #727272;
  --font-base: "ClashDisplay", sans-serif;
  --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
  --transition: all 0.5s ease;
  --border-radius: 5px;
}

/* ================= o0o ====================
............... reset & helpers .............
==================== o0o ================= */
/* html {
  font-size: 62.5%;
} */

body {
  /* font-size: 1.6rem; */
  font-family: var(--font-base);
  line-height: 1.7;
  color: var(--c-body);
}

input,
textarea,
select,
button {
  font-size: inherit !important;
  font-family: inherit !important;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
  color: var(--c-dark);
}

a {
  text-decoration: none;
  color: var(--c-brand);
  transition: var(--transition);
}

a:hover {
  color: var(--c-brand-light);
}

img {
  max-width: 100%;
  height: auto;
}

.section-padding {
  padding-top: 140px;
  padding-bottom: 140px;
}

.theme-shadow {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

/* ================= o0o ====================
................. image zoom ................
==================== o0o ================= */
.image-zoom {
  position: relative;
  overflow: hidden;
}

.image-zoom-wrapper {
  overflow: hidden;
  position: relative;
}

.image-zoom-wrapper img {
  transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
  transform: scale(1.1);
  cursor: pointer;
}

/* ================= o0o ====================
................... navbar ..................
==================== o0o ================= */
.navbar {
  box-shadow: var(--box-shadow);
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
}

.navbar-nav .nav-link {
  font-weight: 500;
  color: var(--c-dark);
}

.navbar-nav .nav-link:active {
  color: var(--c-brand);
}

.navbar-nav .nav-link.active {
  background-color: var(--c-brand);
  color: #fff;
  border-radius: var(--border-radius);
}

.main-header .nav-btn .btn-brand {
  border-radius: var(--border-radius);
}
/* ================= o0o ====================
.................... btn ....................
==================== o0o ================= */
.btn {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 24px;
}

.btn-brand {
  background-color: var(--c-brand);
  border-color: #fff;
  color: #fff;
  border-radius: var(--border-radius);
}

.btn-brand:hover {
  background-color: var(--c-brand-light);
  border-color: #fff;
  color: #fff;
}

.btn-brand:active {
  background-color: var(--c-brand-light) !important;
  border-color: #fff;
  color: #fff !important;
  transform: scale(0.98);
}

.btn-light {
  border-radius: var(--border-radius);
}

.btn-light:active {
  background-color: #d3d4d5;
  transform: scale(0.98);
}

/* ================= o0o ====================
.................... hero ...................
==================== o0o ================= */
#hero {
  background: linear-gradient(
      rgba(var(--c-brand-rgb), 0.5),
      rgba(var(--c-brand-rgb), 0.4)
    ),
    url(../images/hero-1.jpg);
  background-position: center;
  background-size: cover;
}

/* ================= o0o ====================
................ section title ..............
==================== o0o ================= */
.section-title {
  margin-bottom: 60px;
}

.section-title .line {
  width: 60px;
  height: 4px;
  background-color: var(--c-brand);
  margin: 16px auto 24px auto;
}

.section-title p {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

/* ================= o0o ====================
.................. iconbox ..................
==================== o0o ================= */
.iconbox {
  width: 70px;
  height: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(var(--c-brand-rgb), 0.2);
  color: var(--c-brand);
  font-size: 34px;
  flex: none;
  border-radius: var(--border-radius);
}

/* ================= o0o ====================
................... about ...................
==================== o0o ================= */
#about .col-lg-6 img {
  width: 635px;
  height: 705px;
  object-fit: cover;
  border-radius: var(--border-radius);
}

/* ================= o0o ====================
.................. services .................
==================== o0o ================= */
.service {
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.service::after {
  content: "";
  width: 40px;
  height: 40px;
  background: rgba(var(--c-brand-rgb), 0.2);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: var(--transition);
}

.row .col-lg-4:nth-child(2) .service::after {
  left: 50%;
  transform: translateX(-50%);
}

.row .col-lg-4:nth-child(3) .service::after {
  left: 100%;
  transform: translateX(-100%);
}

.row .col-lg-4:nth-child(4) .service::after {
  top: 100%;
  transform: translateY(-100%);
}

.row .col-lg-4:nth-child(5) .service::after {
  top: 100%;
  left: 50%;
  transform: translateY(-100%) translateX(-50%);
}

.row .col-lg-4:nth-child(6) .service::after {
  top: 100%;
  left: 100%;
  transform: translateY(-100%) translateX(-100%);
}

.service:hover:after {
  width: 100%;
  height: 100%;
  background: var(--c-brand);
  z-index: -1;
  opacity: 1;
}

.service .iconbox,
.service h5,
.service p {
  transition: var(--transition);
}

.service:hover h5,
.service:hover p {
  color: #fff;
}

.service:hover .iconbox {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

/* ================= o0o ====================
.................. counter ..................
==================== o0o ================= */
#counter {
  background: linear-gradient(
      rgba(var(--c-brand-rgb), 0.8),
      rgba(var(--c-brand-rgb), 0.8)
    ),
    url(../images/counter.jpg);
  background-position: center;
  background-size: cover;
}

/* ================= o0o ====================
................. portfolio .................
==================== o0o ================= */
.portfolio-item .iconbox {
  background-color: var(--c-brand);
  color: #fff;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 1;
  transition: var(--transition);
  cursor: pointer;
}

.portfolio-item:hover .iconbox {
  opacity: 1;
  top: 50%;
}
#portfolio .portfolio-item img {
  border-radius: var(--border-radius);
}

.col-md-4 .portfolio-item:first-of-type img {
  width: 415px;
  height: 520px;
  object-fit: cover;
}

.col-md-4 .portfolio-item:last-of-type img {
  width: 415px;
  height: 265px;
  object-fit: cover;
}

.row .col-md-4:nth-of-type(2) .portfolio-item:first-of-type img {
  width: 415px;
  height: 265px;
  object-fit: cover;
}

.row .col-md-4:nth-of-type(2) .portfolio-item:last-of-type img {
  width: 415px;
  height: 520px;
  object-fit: cover;
}

/* ================= o0o ====================
................... review ..................
==================== o0o ================= */
.review small {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--c-brand);
}

.review-head {
  position: relative;
}

.review-head::after {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  bottom: -14px;
  background-color: #fff;
  transform: rotate(45deg);
}

/* ================= o0o ====================
.................... team ...................
==================== o0o ================= */
#team .team-member img {
  width: 425px;
  height: 500px;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.team-member-content {
  background-color: var(--c-brand);
  position: absolute;
  bottom: -24px;
  left: 50%;
  width: calc(100% - 50px);
  transform: translateX(-50%);
  padding: 24px;
  transition: var(--transition);
  opacity: 0;
  border-radius: var(--border-radius);
}

.team-member:hover .team-member-content {
  opacity: 1;
  bottom: 24px;
}

/* ================= o0o ====================
.................. contact ..................
==================== o0o ================= */
#contact {
  position: relative;
  z-index: 2;
}

#contact::after {
  content: "";
  width: 100%;
  height: 70%;
  background: linear-gradient(
      rgba(var(--c-brand-rgb), 0.8),
      rgba(var(--c-brand-rgb), 0.8)
    ),
    url(../images/counter.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#contact .form-control {
  border-radius: 0;
}

#contact .form-control:focus {
  box-shadow: none;
  border-color: var(--c-brand);
}

/* ================= o0o ====================
.................... blog ...................
==================== o0o ================= */
#blog .blog-post img {
  width: 415px;
  height: 275px;
  object-fit: cover;
}

/* ================= o0o ====================
................... footer ..................
==================== o0o ================= */
footer {
  padding-top: 120px;
}

.footer-top {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom {
  padding-top: 40px;
  padding-bottom: 40px;
}

footer li,
footer p,
footer a {
  color: rgba(255, 255, 255, 0.7);
}

footer ul {
  list-style: none;
  padding: 0;
}

footer .line {
  width: 40px;
  height: 4px;
  background-color: var(--c-brand);
  margin-top: 12px;
  margin-bottom: 24px;
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-icons a:hover {
  background-color: var(--c-brand);
  color: #fff;
}
